.piedepagina{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-item img {
    width: 50px;
}

.footer-item p {
    font-size: 130%;
}