.babecera {
    position: relative;
}

.rrss-container{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    z-index: 5;
    width: 100%;
}

.rrss{
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.rrss-item{
    opacity: 0.3;
    margin: 30px;
}

.rrss-item:hover {
    opacity: 1;
}

.rrss img {
    width: 50px;
}

.row-nav {
    position: absolute;
    top: 835px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.logo{
    border-radius: 50%;
    position: absolute;
    width: 170px;
    box-shadow: 0 10px 10px grey;
    left: -30px;
    top: -25px;
}

.boton {
    position: relative;
    width: 110px;
    text-align: center;
}

.boton .icono{
    border-radius: 50%;
    box-shadow: 0 10px 10px grey;
    border: solid 2px white;
    margin-bottom: 20px;
    transition: 0.6s;
}

.boton .icono:hover {
    transform: scale(1.1);
}

.texto-boton {
    transition: 0.6s;
    opacity: 0;
}

.boton:hover .texto-boton {
    opacity: 1;
}

.intro p {
    
    margin: 0;
}

.contactam {
    margin-top: 25px;
}







