

/* Start Formacio-Experiencia slider Styles */
.popup-container {
    transition: 1s;
    opacity: 0;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 45%;
    bottom: 0;
    left: 0;
    padding: 10px 60px;
}

.popup-container:hover {
    opacity: 1;
}

.popup-container ul {
    list-style: disc;
    padding-left: 20px;
}

@media only screen and (max-width: 320px){
    .popup-container{
        display: none;
    }
}
/* End Formacio-Experiencia slider Styles */