.portfolio-container {
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    opacity: 0.7;
}

.portfolio-row:hover {
    opacity: 1;
}

.portfolio-container img {
    width: 320px;
}
.portfolio-container p {
    
    color: white;
    width: 320px;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.portfolio-item {
    padding: 50px;
}

a:hover {
    color: crimson;
}

@media (max-width: 320px) {
    .portfolio-item {
        padding: 10px 0;
    }
}