
.txt-rt {
    margin: 0;
}

.rt {
    background-color: pink;
    height: 10px;
}

.contenidor-rt {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    position: relative;
}
.contenidor-rt-indv {
    margin: 30px 0;
}

.rt-contenidor {
background-color: rgb(185, 185, 185);
}


.treball-equip {
    width: 90%;
}
.resolucio {
    width: 85%;
}
.curiositat {
    width: 100%;
}
.autogestio {
    width: 90%;
}
.comunicacio {
    width: 85%;
}
.escoltar {
    width: 85%;
}