
@media (max-width: 940px) {
    nav {
        display: none;
    }

    .banner-area{
        height: 430px;
    }

    .banner-area .overlay-bg{
        background: rgb(80, 80, 80);
    }

    .service-area-2 {
        box-shadow: 0 0px 20px #bdbdbd;
      }

    #aptituds .row{
        padding: 25px 0;
    }

  }
